<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>drinkanddelight</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>It displays all Raw Material orders </description>
    <display-name>DisplayAllRawMaterialOrdersServlet</display-name>
    <servlet-name>DisplayAllRawMaterialOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayAllRawMaterialOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllRawMaterialOrdersServlet</servlet-name>
    <url-pattern>/DisplayAllRawMaterialOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>It displays all Product orders</description>
    <display-name>DisplayAllProductOrdersServlet</display-name>
    <servlet-name>DisplayAllProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayAllProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayAllProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>First page</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this is for registration of an employee</description>
    <display-name>RegistrationPageServlet</display-name>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.RegistrationPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <url-pattern>/RegistrationPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRawMaterialStatusServlet</display-name>
    <servlet-name>UpdateRawMaterialStatusServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateRawMaterialStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRawMaterialStatusServlet</servlet-name>
    <url-pattern>/UpdateRawMaterialStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Forgot password</description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecurityQuestionServlet</display-name>
    <servlet-name>SecurityQuestionServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.SecurityQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityQuestionServlet</servlet-name>
    <url-pattern>/SecurityQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceRMOrderServlet</display-name>
    <servlet-name>PlaceRMOrderServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.PlaceRMOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceRMOrderServlet</servlet-name>
    <url-pattern>/PlaceRMOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceProductOrderServlet</display-name>
    <servlet-name>PlaceProductOrderServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.PlaceProductOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceProductOrderServlet</servlet-name>
    <url-pattern>/PlaceProductOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackRawMaterialOrderServlet</display-name>
    <servlet-name>TrackRawMaterialOrderServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.TrackRawMaterialOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackRawMaterialOrderServlet</servlet-name>
    <url-pattern>/TrackRawMaterialOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackProductOrderServlet</display-name>
    <servlet-name>TrackProductOrderServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.TrackProductOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackProductOrderServlet</servlet-name>
    <url-pattern>/TrackProductOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExitDateServlet</display-name>
    <servlet-name>UpdateExitDateServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateExitDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExitDateServlet</servlet-name>
    <url-pattern>/UpdateExitDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRMStockServlet</display-name>
    <servlet-name>UpdateRMStockServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateRMStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRMStockServlet</servlet-name>
    <url-pattern>/UpdateRMStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductStockServlet</display-name>
    <servlet-name>UpdateProductStockServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateProductStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductStockServlet</servlet-name>
    <url-pattern>/UpdateProductStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRawMaterialDeliveryStatusServlet</display-name>
    <servlet-name>UpdateRawMaterialDeliveryStatusServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateRawMaterialDeliveryStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRawMaterialDeliveryStatusServlet</servlet-name>
    <url-pattern>/UpdateRawMaterialDeliveryStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductDeliveryStatusServlet</display-name>
    <servlet-name>UpdateProductDeliveryStatusServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateProductDeliveryStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductDeliveryStatusServlet</servlet-name>
    <url-pattern>/UpdateProductDeliveryStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCancelledProductOrdersServlet</display-name>
    <servlet-name>DisplayCancelledProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayCancelledProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCancelledProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayCancelledProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDispatchedProductOrdersServlet</display-name>
    <servlet-name>DisplayDispatchedProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayDispatchedProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDispatchedProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayDispatchedProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPendingProductOrdersServlet</display-name>
    <servlet-name>DisplayPendingProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayPendingProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPendingProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayPendingProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProductOrdersFromDistributorServlet</display-name>
    <servlet-name>DisplayProductOrdersFromDistributorServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayProductOrdersFromDistributorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProductOrdersFromDistributorServlet</servlet-name>
    <url-pattern>/DisplayProductOrdersFromDistributorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayReceivedProductOrdersServlet</display-name>
    <servlet-name>DisplayReceivedProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayReceivedProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReceivedProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayReceivedProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCancelledRawMaterialOrdersServlet</display-name>
    <servlet-name>DisplayCancelledRawMaterialOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayCancelledRawMaterialOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCancelledRawMaterialOrdersServlet</servlet-name>
    <url-pattern>/DisplayCancelledRawMaterialOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPendingRawMaterialOrdersServlet</display-name>
    <servlet-name>DisplayPendingRawMaterialOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayPendingRawMaterialOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPendingRawMaterialOrdersServlet</servlet-name>
    <url-pattern>/DisplayPendingRawMaterialOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRawMaterialOrdersFromSupplierServlet</display-name>
    <servlet-name>DisplayRawMaterialOrdersFromSupplierServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayRawMaterialOrdersFromSupplierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRawMaterialOrdersFromSupplierServlet</servlet-name>
    <url-pattern>/DisplayRawMaterialOrdersFromSupplierServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayReceivedRawMaterialOrdersServlet</display-name>
    <servlet-name>DisplayReceivedRawMaterialOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayReceivedRawMaterialOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReceivedRawMaterialOrdersServlet</servlet-name>
    <url-pattern>/DisplayReceivedRawMaterialOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDispatchedRawMaterialOrdersServlet</display-name>
    <servlet-name>DisplayDispatchedRawMaterialOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayDispatchedRawMaterialOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDispatchedRawMaterialOrdersServlet</servlet-name>
    <url-pattern>/DisplayDispatchedRawMaterialOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRawMaterialOrdersBetweenDatesServlet</display-name>
    <servlet-name>DisplayRawMaterialOrdersBetweenDatesServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayRawMaterialOrdersBetweenDatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRawMaterialOrdersBetweenDatesServlet</servlet-name>
    <url-pattern>/DisplayRawMaterialOrdersBetweenDatesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProductOrderBetweenDatesServlet</display-name>
    <servlet-name>DisplayProductOrderBetweenDatesServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayProductOrderBetweenDatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProductOrderBetweenDatesServlet</servlet-name>
    <url-pattern>/DisplayProductOrderBetweenDatesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProcessDateServlet</display-name>
    <servlet-name>UpdateProcessDateServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.UpdateProcessDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProcessDateServlet</servlet-name>
    <url-pattern>/UpdateProcessDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRawMaterialServlet</display-name>
    <servlet-name>DisplayRawMaterialServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayRawMaterialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRawMaterialServlet</servlet-name>
    <url-pattern>/DisplayRawMaterialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllProductsServlet</display-name>
    <servlet-name>DisplayAllProductsServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayAllProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllProductsServlet</servlet-name>
    <url-pattern>/DisplayAllProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySupplierDetailsServlet</display-name>
    <servlet-name>DisplaySupplierDetailsServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplaySupplierDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySupplierDetailsServlet</servlet-name>
    <url-pattern>/DisplaySupplierDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductDetailsServlet</display-name>
    <servlet-name>GetProductDetailsServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.GetProductDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductDetailsServlet</servlet-name>
    <url-pattern>/GetProductDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRawmaterialDetailsServlet</display-name>
    <servlet-name>GetRawmaterialDetailsServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.GetRawmaterialDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRawmaterialDetailsServlet</servlet-name>
    <url-pattern>/GetRawmaterialDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>DisplayDistributorDetailsServlet</display-name>
    <servlet-name>DisplayDistributorDetailsServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayDistributorDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDistributorDetailsServlet</servlet-name>
    <url-pattern>/DisplayDistributorDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>

